@page
@model Sessions.Pages.MovieInfoModel
@{
    ViewData["Title"] = "Info";
}
<div>
    <h1 class="display-4">Movie Infomation</h1>
    <p>Movie Name: @Model.SelectedMovie.Name</p>
    <p>Movie Director: @Model.SelectedMovie.Director</p>
    <p>Movie Style: @Model.SelectedMovie.Style</p>
    <p>Movie Description: @Model.SelectedMovie.Descriptions\</p>
</div>